.main_wrapper {
  background: linear-gradient(to right, #365ec7 50%, #fff 50%);
}
.left_wrapper h1 {
  font-weight: 400;
  font-size: 52px;
  line-height: 39px;
  color: #ffffff;
  margin: 90px 0 20px;
}
.left_wrapper p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}
.left_wrapper .your_way {
  display: block;
}
.stepper {
  max-width: 200px;
  width: 100%;
  margin-top: 60px;
}
.stepper h6 {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.0048em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.step {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  max-width: 200px;
  width: 100%;
  height: auto;
  padding: 10px 15px;
}
.step span {
  display: block;
}
.step .digit {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #8d97b4;
}
.step .txt {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #162f72;
}
.saperator {
  border: 1px solid #ffffff;
  width: 2px;
  height: 30px;
  margin: 0 auto;
}
.right_container {
  padding-left: 40px;
}
.radio-btns .radio-option:first-child {
  margin-right: 35px;
}
.radio-btns .radio-option:last-child {
  margin-right: 0;
}
.form_heading {
  font-size: 16px;
  line-height: 28px;
  color: #222222;
  margin: 60px 0 40px;
}
.btnArrow {
  margin: 0 0 2px 8px;
}
@media screen and (max-width: 992px) {
  .main_wrapper {
    background: linear-gradient(to bottom, #365ec7 48.3%, #fff 48.3%);
  }
  .left_wrapper h1 {
    margin: 35px 0 20px;
  }
  .right_container {
    padding-left: 0;
  }
  .stepper_wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .saperator {
    display: none;
  }
  .step_parent {
    display: flex;
    justify-content: space-between;
  }
  .stepper {
    max-width: unset;
    margin-top: 10px;
  }
  .main_img {
    max-width: 600px;
  }
  .mainimg {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .main_wrapper {
    background: linear-gradient(to bottom, #365ec7 35.5%, #fff 35.5%);
  }
  .step {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .step .txt {
    font-size: 13px;
    line-height: 17px;
  }
  .left_wrapper h1 {
    font-size: 38px;
    line-height: 18px;
  }
  .main_img {
    max-width: 515px;
  }
}
@media screen and (max-width: 576px) {
  .main_wrapper {
    background: linear-gradient(to bottom, #365ec7 28.5%, #fff 28.5%);
  }
  .step {
    max-width: 100px;
  }
  .left_wrapper h1 {
    font-size: 30px;
    line-height: 25px;
    margin: 0px 0 10px;
  }
  .left_wrapper p {
    font-size: 16px;
    line-height: 25px;
  }
  .left_wrapper .your_way {
    display: inline;
  }
  .form_heading {
    font-size: 14px;
    line-height: 21px;
  }
  .main_img {
    max-width: 330px;
  }
  .stepper h6 {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 476px) {
  .left_wrapper p {
    font-size: 14px;
    line-height: 22px;
  }
}
@media screen and (max-width: 420px) {
  .main_wrapper {
    background: linear-gradient(to bottom, #365ec7 27.6%, #fff 27.6%);
  }
  .main_img {
    max-width: 280px;
  }
  .step {
    padding: 8px;
  }
}
